.toolbar {
    position: relative;
    width: 18%;
    height: 100vh;
    background-color: rgb(221, 221, 221);
    overflow-y: scroll;
  }

.toolbar::-webkit-scrollbar{
  display: none;
}
  
  .dropdown-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
  }
  
  .dropdown-selected {
    height: 2vw;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 32px;
    margin-bottom: 5%;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-selected > div:nth-child(2) {
    margin-top: 2%;
    align-content: center;
    height: 24px;
  }
  
  .dropdown-selected:hover {
    background-color: rgba(189, 189, 189, 0.322);
  }
  
  .list-enfant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
  }
  
  .child-info-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2vw;
    width: 80%;
    border-radius: 32px;
  }

  .child-info-container:hover {
    background-color: rgba(189, 189, 189, 0.322);
  }
  
  .custom-checkbox-label {
    width: 100%;
    font-size:clamp(5px, 0.9vw ,18px);
    cursor: pointer;
    margin-left: 3vw;
    color: black;
  }
  
  .custom-checkbox-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 1vw;
    height: 1vw;
    border-radius: 4px;
    background-color: white;
    border: 2px solid var(--childcolor); /* Utilise la variable CSS */
    transition: all 0.3s ease;
  }
  
  .custom-checkbox:checked + .custom-checkbox-label::before {
    background-color: var(--childcolor);
    border-color: var(--childcolor);
    background-image: url("../../../assets/check.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .drop-down-title{
    font-size: 1vw;
  }
  .toolbar-button{
    align-content: center;
    height: 60%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: clamp(10px, 0.75vw, 30px);
    background-color: transparent;
    border-radius: 32px;
    border: 1px solid rgb(82, 82, 82);
    color: rgb(82, 82, 82);
  }

  .toolbar-button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7.5%;
  }

  @media (max-width: 768px) {
    .toolbar{
      position: absolute;
      width: 80%;
      z-index: 99;
    }
    .dropdown-selected{
      height: 8vw !important;
      width: 70% !important;
    }
    .child-info-container{
      height: 10vw;
    }
    .custom-checkbox-label{
      font-size: 3.5vw;
    }
    .custom-checkbox-label::before{
      left: 30%;
      width: 3.5vw;
      height: 3.5vw;
    }
    .drop-down-title{
      font-size: 3.5vw;
    }
  }
  
  